<div class="row">
  <div class="span6 offset1">
    <h2>About Make Me</h2>
    <p>
      Make Me is a tool that makes it easy to print to your Makerbot - it comes
      with command-line tools, an HTTP API, and chat integration
      via <a href="http://hubot.github.com/">Hubot</a>.
    </p>

    <p>
      If you&#8217;re interested, you can read
      our <a href="https://github.com/blog/1368-releasing-make-me">blog post
      about the release</a>.
    </p>

    <p>
      Make Me is open source
      - <a href="https://github.com/make-me/make-me">check out the code on
      GitHub</a>, and if you&#8217;d like to contribute, please fork it, hack
      away, and submit a pull request.
    </p>

  </div>
</div>
