<div class="row">
  <p class="lead span6"><i class="icon-lock"></i> The lock is:
    <% if locked? %>
    <span class="label label-important">locked</span> - wait your turn.
    <% else %>
    <span class="label label-success">free</span> - go nuts!
    <% end %>
  </p>
</div>

<div class="row">
  <div class="span5">
    <h3>Current print</h3>
    <% if locked? %>
    <!-- TODO -->
    <script type="text/javascript">
      $(document).ready(function(){
      window.app.renderSTL('/current_model');
      });
    </script>

    <% else %>
    <p>
      Nothing is printing - have a wiretocat.
      <script type="text/javascript">
        $(document).ready(function(){
        window.app.renderOctocat();
        });
      </script>

    </p>
    <% end %>
    <div id="stl-viewer" style="width:300;height:300px;">
    </div>

    <h3>Progress</h3>
    <div class="progress progress-striped active">
      <div class="bar" style="width:<%= progress %>%"></div>
    </div>

  </div>

  <div class="span7">
    <h3>Current log</h3>
    <p>
      This is the raw output of the build script. Neat-o
    </p>
    <pre>
      <%= @current_log || "No log, soz" %>
    </pre>
  </div>

</div>


<div id="push"></div>

</div>
