<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Make Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

    <!-- jabberscraps -->
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/Three.js"></script>
    <script src="/js/plane.js"></script>
    <script src="/js/thingiview.js"></script>
    <script src="/js/app.js"></script>
  </head>

  <body>


    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1><a href="/">MAKE ME.</a></h1>
        </div>
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <ul class="footer-links">
          <li><a class="muted" href="/about">About Make Me</a></li>
          <li class="muted"> &sdot; </li>
          <li><a class="muted" href="https://github.com/make-me/make-me">Source on GitHub</a></li>
        </ul>
      </div>
    </div>




  </body>
</html>
